* {
    font-family: 'Koulen', cursive;
}

body{
    background: rgb(238, 253, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container{
    background-color: grey;
    padding: 5vw;
    border-radius: 10px;
    box-shadow: 0 -3px 4px 2px black, 0 3px 4px 2px black;
}

#title {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px gray;
}


.content {
    text-align: center;
}

#ball {
    box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

input {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
}

#answer {
    color: white;
    background-color: rgba(137, 43, 226, 0.5);
}